<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="layout">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />


<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<head>
</head>
<body>
	<section layout:fragment="custom-content">

<div class="container">
		<h2>Product Form</h2>
		<div>
			<form class="form-horizontal" th:object="${product}"
				th:action="@{/admin/product}" method="post">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
				<label class="col-sm-4 control-label">Cod</label>
				  <input type="number" th:field="*{numArt}"/>
				</div>
				<div class="form-group">
				 <label class="col-sm-4 control-label">Title</label>
				   <input type="text" th:field="*{title}"/>
				</div>
				<div class="form-group">
				  <label class="col-sm-4 control-label">Description:</label>
					<input type="text" th:field="*{description}" />
		    	</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Price:</label>
					  <input type="text"  th:field="*{price}" />
				</div>
				<div class ="form-group">
				 <label class="col-sm-4 control-label">Image Url</label>
				  <input type="text" th:field="*{imageUrl}"/>
			    </div>
			    <div class="form-group">
			     <label class="col-sm-4 control-label">In Stock</label>
			       <input type="text" th:field="*{inStock}"/>
			    </div>
				
				<div class="row">
				<button type ="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
	</div>
	</section>
</body>

</html>























